
<div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="~/content/dist/assets/images/insist-logo.png" height="48" class='mb-4'>
                        <h3>Registracija</h3>
                  
                    </div>
                        <div class="row">
                           
                           
                          
                                <div class="form-registration">

                           
                                <div class="form-group">
                                    <label for="email-id-column">Email naslov</label>
                                    <input type="email" value="@Model.email" id="email" class="form-control" disabled name="email-id-column">
                                </div>
                        

                       
                                <div class="form-group">
                                    <label for="password">Geslo</label>
                                    <input type="password" id="password" class="form-control" name="password">
                                </div>
                       

                            
                                <div class="form-group">
                                    <label for="repassword">Geslo še enkrat</label>
                                    <input type="password" id="repassword" class="form-control" name="repassword">
                                </div>
                           
                                </div>
                        </diV>

                       
                    
                            <center><button asp-action ="Login" class="btn btn-primary float-right" onclick="registerUser()">Registracija</button></center>
                      
                   
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
