﻿
@{
    // Retrieve the URL passed from the controller using ViewBag
    string currentUrl = ViewBag.CurrentUrl;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RF Inventura - Web</title>
    <link rel="stylesheet" href="~/content/dist/assets/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js" integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="~/content/dist/assets/vendors/chartjs/chart.css" rel="stylesheet" />
    <link href="~/content/dist/assets/vendors/chartjs/chart.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/content/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/content/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/images/favicon-icon.ico" type="image/x-icon">
    <link href="~/css/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="~/css/sortable-theme-dark.css" rel="stylesheet" />
    <link href="~/css/sortable-theme-finder.css" rel="stylesheet" />
    <link href="~/css/sortable-theme-light.css" rel="stylesheet" />
    <link href="~/css/sortable-theme-minimal.css" rel="stylesheet" />
    <link href="~/css/sortable-theme-slick.css" rel="stylesheet" />
    <script src="~/js/sortable.js"></script>
    <script src="~/js/sortable.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <head>
        @if (!currentUrl.Contains("/dashboard"))
        {
            <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
            <script src="~/js/devextreme/jquery.js"></script>
            <script src="~/js/devextreme/dx.all.js"></script>
            <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
            <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
        } else
        {
            <link href="~/css/site.min.css" rel="stylesheet" />
            <script src="~/js/site.min.js"></script>
        }
    </head>
</head>
<body>

    @RenderBody()

    <footer>
    </footer>
    <script src="~/content/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/content/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/content/dist/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/content/dist/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/content/dist/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            window.lines = []
            window.start = []
            window.end = []
            window.visible = []
        });
    </script>
    <script src="~/js/site.js"></script>

    <script src="~/content/dist/assets/js/main.js"></script>
</body>
</html>