@using DevExtreme.AspNet.Mvc;
<div id="app">
    <div id="sidebar" class='active'>
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img src="~/images/riko-logo.png" alt="" srcset="">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">

                    <li class="sidebar-item">
                        <a asp-action="Index" class='sidebar-link'>
                            <i width="20"></i>

                            <span>Inventure</span>
                        </a>
                    </li>

                    <li class="sidebar-item " >
                        <a asp-action="ActiveInventory" class='sidebar-link has-sub'>
                            <i width="20"></i>

                            <span asp-action="ActiveInventory">Aktivna inventura</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a asp-action="ActiveInventory" asp-controller="Home">Vsi zapisi</a>
                            </li>
                            <li>
                                <a asp-action="Discrepancies" asp-controller="Home">Neskladja</a>
                            </li>

                            <li>
                                <a asp-action="NotFinished" asp-controller="Home">Nepopisani</a>
                            </li>

                        </ul>
                    </li>
                 




                    <li class="sidebar-item active has-sub">
                        <a class='sidebar-link'>
                            <i width="20"></i>
                            <span>Pregled</span>
                        </a>


                        <ul class="submenu ">



                            <li>
                                <a asp-action="LocationListing" asp-controller="Home">Lokacije</a>
                            </li>

                            <li>
                                <a asp-action="ItemListing" asp-controller="Home">Artikli</a>
                            </li>

                            <li>
                                <a asp-action="AssetListing" asp-controller="Home">Sredstva</a>
                            </li>




                        </ul>

                    </li>


                    <li class="sidebar-item has-sub">
                        <a class='sidebar-link'>
                            <i width="20"></i>

                            <span>Sinhronizacija</span>
                        </a>





                        <ul class="submenu ">

                            <li>
                                <a asp-action="Location" asp-controller="BufferedFileUpload">Lokacija</a>
                            </li>

                            <li>
                                <a asp-action="Item" asp-controller="BufferedFileUpload">Artikel</a>
                            </li>

                            <li>
                                <a asp-action="Asset" asp-controller="BufferedFileUpload">Sredstvo</a>
                            </li>

                            <li>
                                <a asp-action="TotalImport" asp-controller="BufferedFileUpload">Skupni uvoz</a>
                            </li>

                        </ul>

                    </li>



















                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main">
        <nav class="navbar navbar-header navbar-expand navbar-light">
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">

                    <li class="dropdown nav-icon mr-2">
                        <a href="#" data-toggle="dropdown" class="nav-link  dropdown-toggle nav-link-lg nav-link-user">

                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-action="Settings" asp-controller="Home" class="dropdown-item"><i data-feather="settings"></i> Nastavitve</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Login" asp-controller="Auth"><i data-feather="log-out"></i> Odjava</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <div class="avatar mr-1">
                                <img src="~/img/gear.png" alt="" srcset="">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-action="Settings" asp-controller="Home"><i data-feather="settings"></i> Nastavitve</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Auth"><i data-feather="log-out"></i> Odjava</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main-content container-fluid">

            <div class="card">
                <h4 class="card-title-active">Pregled sredstev</h4>
                <div class="card-header d-flex justify-content-between align-items-center">



        @model List<AssetListing>;
        @(
            Html.DevExtreme().DataGrid()
            .ID("gridContainerAsset")
            .ShowBorders(true)
            .DataSource(Model)
            .KeyExpr("anQId")
            .FilterRow(filterRow => filterRow
            .Visible(true)
            .ApplyFilter(GridApplyFilterMode.Auto)
            )
            .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Width(240)
            .Placeholder("Poiščite...")
            )
            .Editing(e =>
            {
                e.Mode(GridEditMode.Cell)

                .AllowUpdating(true);
            })
            .Columns(c =>
            {
                c.Add().DataField("acLocation").Caption("Lokacija").AllowEditing(true);
                c.Add().DataField("acName").Caption("Naziv").AllowEditing(true);
                c.Add().DataField("acCareTaker").Caption("Zadolženi").AllowEditing(true);
                c.Add().DataField("acItem").Caption("Šifra").AllowEditing(true);
                c.Add().DataField("acNote").Caption("Zgodovina").AllowEditing(true);
                c.Add().DataField("acECD").Caption("EPC koda");
                c.Add()
                .Type(GridCommandColumnType.Buttons)
                .Width(110)
                .Buttons(b =>
                {
                 b.Add().Hint("Pobriši").Icon("trash").OnClick("onDeleteIconClickInventoryAsset");
                });
            })
            )

    </div>
    </div>
        </div>



        </section>
    </div>


</div>
    </div>


