<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napaka</title>
    <link href="~/css/error.css" rel="stylesheet" />
    <style>
        a.returnLink {
            font-size: 33px;
            margin-top: 2em;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div class="number">Napaka</div>
    <div class="text"><span></span><br>Prišlo je do napake.  Hvala za razumevanje.</div>



    <a href="/" class="returnLink">Nazaj</a>

</body>
